.tile {
    border: 2px solid white;
    border-radius: 10px;
    transition: 100ms ease-in;
}

.tile:hover {
    background-color: #f0f8ff;
    border: 2px solid #171717;
}

.tile_dark {
    border: 2px solid #171717;
}

.tile_dark:hover {
    background-color: #1f1f1f;
    border: 2px solid white;
}

.arrow {
    transition: 100ms ease-in;
}

.tile:hover .arrow {
    transform: translateX(1rem);
}

@media (max-width:768px) {
    .tile {
        width: 100%;
    }
}