@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
  background-color: #171717;
  color: white;
}

@media (max-width:768px) {
  .home {
    height: max-content;
  }

  .tiles {
    flex-direction: column;
    padding: 2rem;
  }
}